<h1>Palmer Penguin Data Analytics</h1>

<hr>

<h3>Analyst: Angelica Castillo</h3>

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

<p>Importing dataset to Jupyter notebook</p>
<p>Converting dataset to dataframe</p>
<ul>Requirements
    <li>Name of the dataframe</li>
    <li>Source</li>
</ul>

In [2]:
penguins = pd.read_csv('datasets\\penguins.csv')

In [3]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

<h1>Descriptive Analytics</h1>

In [4]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,342.000000,342.000000,342.000000,342.000000,344.000000
mean,43.921930,17.151170,200.915205,4201.754386,2008.029070
std,5.459584,1.974793,14.061714,801.954536,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.225000,15.600000,190.000000,3550.000000,2007.000000
50%,44.450000,17.300000,197.000000,4050.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [5]:
penguins.describe().T

,count,mean,std,min,25%,50%,75%,max
bill_length_mm,342.0,43.921930,5.459584,32.1,39.225,44.45,48.5,59.6
bill_depth_mm,342.0,17.151170,1.974793,13.1,15.600,17.30,18.7,21.5
flipper_length_mm,342.0,200.915205,14.061714,172.0,190.000,197.00,213.0,231.0
body_mass_g,342.0,4201.754386,801.954536,2700.0,3550.000,4050.00,4750.0,6300.0
year,344.0,2008.029070,0.818356,2007.0,2007.000,2008.00,2009.0,2009.0

<h3>Cleaning the Data Frame</h3>

In [6]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

<h2>Selecting a column</h3>
<h3>Syntax</h3><br>
data_frame['column_name']

In [7]:
penguins['island'] == 'Dream'

0      False
1      False
2      False
3      False
4      False
       ...
339     True
340     True
341     True
342     True
343     True
Name: island, Length: 344, dtype: bool

In [8]:
penguins[penguins ['island'] == 'Dream']

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
30,Adelie,Dream,39.5,16.7,178.0,3250.0,female,2007
31,Adelie,Dream,37.2,18.1,178.0,3900.0,male,2007
32,Adelie,Dream,39.5,17.8,188.0,3300.0,female,2007
33,Adelie,Dream,40.9,18.9,184.0,3900.0,male,2007
34,Adelie,Dream,36.4,17.0,195.0,3325.0,female,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [9]:
Adelie_df = penguins[penguins['species'] == 'Adelie']

In [10]:
Adelie_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,2007
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007
...,...,...,...,...,...,...,...,...
147,Adelie,Dream,36.6,18.4,184.0,3475.0,female,2009
148,Adelie,Dream,36.0,17.8,195.0,3450.0,female,2009
149,Adelie,Dream,37.8,18.1,193.0,3750.0,male,2009
150,Adelie,Dream,36.0,17.1,187.0,3700.0,female,2009
151,Adelie,Dream,41.5,18.5,201.0,4000.0,male,2009

In [11]:
Chinstrap_df = penguins[penguins['species'] == 'Chinstrap']

In [12]:
Chinstrap_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
276,Chinstrap,Dream,46.5,17.9,192.0,3500.0,female,2007
277,Chinstrap,Dream,50.0,19.5,196.0,3900.0,male,2007
278,Chinstrap,Dream,51.3,19.2,193.0,3650.0,male,2007
279,Chinstrap,Dream,45.4,18.7,188.0,3525.0,female,2007
280,Chinstrap,Dream,52.7,19.8,197.0,3725.0,male,2007
...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009

In [46]:
Gentoo_df = penguins[penguins['species'] == 'Gentoo']

In [47]:
Gentoo_df

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
152,Gentoo,Biscoe,46.1,13.2,211.0,4500.0,female,2007,4500.0
153,Gentoo,Biscoe,50.0,16.3,230.0,5700.0,male,2007,5700.0
154,Gentoo,Biscoe,48.7,14.1,210.0,4450.0,female,2007,4450.0
155,Gentoo,Biscoe,50.0,15.2,218.0,5700.0,male,2007,5700.0
156,Gentoo,Biscoe,47.6,14.5,215.0,5400.0,male,2007,5400.0
...,...,...,...,...,...,...,...,...,...
271,Gentoo,Biscoe,41.1,17.0,190.0,3800.0,male,2009,3800.0
272,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,female,2009,4850.0
273,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,male,2009,5750.0
274,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,female,2009,5200.0
275,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,male,2009,5400.0

In [13]:
penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

In [14]:
Chinstrap_heavy = penguins[(penguins['species'] == 'Chinstrap') & (penguins['body_mass_g'] >= 4000)]

In [15]:
Chinstrap_heavy

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
284,Chinstrap,Dream,46.0,18.9,195.0,4150.0,female,2007
289,Chinstrap,Dream,52.0,18.1,201.0,4050.0,male,2007
291,Chinstrap,Dream,50.5,19.6,201.0,4050.0,male,2007
295,Chinstrap,Dream,49.2,18.2,195.0,4400.0,male,2007
301,Chinstrap,Dream,52.0,19.0,197.0,4150.0,male,2007
305,Chinstrap,Dream,52.8,20.0,205.0,4550.0,male,2008
307,Chinstrap,Dream,54.2,20.8,201.0,4300.0,male,2008
309,Chinstrap,Dream,51.0,18.8,203.0,4100.0,male,2008
313,Chinstrap,Dream,52.0,20.7,210.0,4800.0,male,2008
315,Chinstrap,Dream,53.5,19.9,205.0,4500.0,male,2008
321,Chinstrap,Dream,50.8,18.5,201.0,4450.0,male,2009
323,Chinstrap,Dream,49.0,19.6,212.0,4300.0,male,2009
329,Chinstrap,Dream,50.7,19.7,203.0,4050.0,male,2009
333,Chinstrap,Dream,49.3,19.9,203.0,4050.0,male,2009
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009

<h1>FILL UP NULL VALUES</h1>

In [16]:
penguins.isnull().sum()

species               0
island                0
bill_length_mm        2
bill_depth_mm         2
flipper_length_mm     2
body_mass_g           2
sex                  11
year                  0
dtype: int64

In [17]:
penguins['bill_length_mm'].mean()

np.float64(43.9219298245614)

In [18]:
penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mean())

0      39.10000
1      39.50000
2      40.30000
3      43.92193
4      36.70000
         ...
339    55.80000
340    43.50000
341    49.60000
342    50.80000
343    50.20000
Name: bill_length_mm, Length: 344, dtype: float64

In [19]:
penguins['sex'] = penguins['sex'].fillna(penguins['sex'].mode()[0])

In [20]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       2
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
dtype: int64

In [21]:
penguins['sex'].mode()

0    male
Name: sex, dtype: object

In [22]:
penguins['bill_length_mm'] = penguins['bill_length_mm'].fillna(penguins['bill_length_mm'].mode()[0])

In [23]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        2
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
dtype: int64

In [24]:
penguins['bill_depth_mm'] = penguins['bill_depth_mm'].fillna(penguins['bill_depth_mm'].mode()[0])

In [25]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    2
body_mass_g          2
sex                  0
year                 0
dtype: int64

In [26]:
penguins['flipper_length_mm'] = penguins['flipper_length_mm'].fillna(penguins['flipper_length_mm'].mode()[0])

In [27]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          2
sex                  0
year                 0
dtype: int64

In [28]:
penguins['body_mass_g'] = penguins['body_mass_g'].fillna(penguins['body_mass_g'].mode()[0])

In [29]:
penguins.isnull().sum()

species              0
island               0
bill_length_mm       0
bill_depth_mm        0
flipper_length_mm    0
body_mass_g          0
sex                  0
year                 0
dtype: int64

<h1>How to change a Data type column</h1>

In [30]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     344 non-null    float64
 3   bill_depth_mm      344 non-null    float64
 4   flipper_length_mm  344 non-null    float64
 5   body_mass_g        344 non-null    float64
 6   sex                344 non-null    object
 7   year               344 non-null    int64
dtypes: float64(4), int64(1), object(3)
memory usage: 21.6+ KB

In [31]:
penguins.columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex', 'year'],
      dtype='object')

In [32]:
penguins.describe()

,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,year
count,344.000000,344.000000,344.000000,344.000000,344.000000
mean,43.905523,17.150291,200.851744,4199.418605,2008.029070
std,5.447882,1.969061,14.045266,800.197923,0.818356
min,32.100000,13.100000,172.000000,2700.000000,2007.000000
25%,39.275000,15.600000,190.000000,3550.000000,2007.000000
50%,44.250000,17.300000,197.000000,4025.000000,2008.000000
75%,48.500000,18.700000,213.000000,4750.000000,2009.000000
max,59.600000,21.500000,231.000000,6300.000000,2009.000000

In [33]:
penguins['mass_kg'] = penguins['body_mass_g']

In [34]:
penguins

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year,mass_kg
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,male,2007,3750.0
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,female,2007,3800.0
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,female,2007,3250.0
3,Adelie,Torgersen,41.1,17.0,190.0,3800.0,male,2007,3800.0
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,female,2007,3450.0
...,...,...,...,...,...,...,...,...,...
339,Chinstrap,Dream,55.8,19.8,207.0,4000.0,male,2009,4000.0
340,Chinstrap,Dream,43.5,18.1,202.0,3400.0,female,2009,3400.0
341,Chinstrap,Dream,49.6,18.2,193.0,3775.0,male,2009,3775.0
342,Chinstrap,Dream,50.8,19.0,210.0,4100.0,male,2009,4100.0
343,Chinstrap,Dream,50.2,18.7,198.0,3775.0,female,2009,3775.0

<h1>Exploratory Data Analytics (EDA)</h1>

<h2>Q1. Which species has the longest bill depth?<h2>

In [35]:
Q1 = penguins.groupby('species')['bill_depth_mm'].max()

In [36]:
Q1

species
Adelie       21.5
Chinstrap    20.8
Gentoo       17.3
Name: bill_depth_mm, dtype: float64

<h3>Insight#1: Adelie has the longest bill depth</h3>

<h2>2. Which species has the shortest flipper length?<h2>

In [37]:
Q2 = penguins.groupby('species')['flipper_length_mm'].min()

In [38]:
Q2

species
Adelie       172.0
Chinstrap    178.0
Gentoo       190.0
Name: flipper_length_mm, dtype: float64

<h3>Insight#2: The species that has the shortest flipper length is Adelie</h3>

<h2>Q3. Which species has the lightest body mass?</h2>

In [39]:
Q3 = penguins.groupby('species')['body_mass_g'].mean()

In [40]:
Q3

species
Adelie       3701.315789
Chinstrap    3733.088235
Gentoo       5065.725806
Name: body_mass_g, dtype: float64

<h3>Insight#3: Adelie is the lightest</h3>

<h2>Q4. Which island has the fewest species?<h2>

In [51]:
Q4 = penguins.groupby('island')['species'].value_counts()

In [52]:
Q4

island     species
Biscoe     Gentoo       124
           Adelie        44
Dream      Chinstrap     68
           Adelie        56
Torgersen  Adelie        52
Name: count, dtype: int64

<h3>Insight#4: Torsegen has the fewest species</h3>

<h2>Q5. How many species are there in Biscoe?
</h2>

In [53]:
Q5 = penguins[penguins['island']=='Biscoe']['species'].value_counts()

In [54]:
Q5

species
Gentoo    124
Adelie     44
Name: count, dtype: int64

<h3>Insight#5: There are 2 species in Biscoe and the total is 164</h3>

<h2>Q6. Oldest record of an Adelie?
</h2>

In [55]:
Q6 = penguins[penguins['species']=='Adelie']['year'].min()

In [56]:
Q6

np.int64(2007)

<h3>Insight#6: The oldest record of an Adelie is on year 2007</h3>

<h2>Q7. How many male species does Chinstrap have?</h2>

In [57]:
Q7 = penguins[(penguins['species']=='Chinstrap') & (penguins['sex'] == 'male')].shape[0]

In [58]:
Q7

34

<h3>Insight#7: Chinstrap has 34 male species </h3>

<h2>Q8: Which species has the highest number of male and female?</h2>

In [59]:
Adelie_df['sex'].value_counts()

sex
female    34
male      34
Name: count, dtype: int64

In [60]:
Gentoo_df['sex'].value_counts()

sex
male      66
female    58
Name: count, dtype: int64

In [61]:
Chinstrap_df['sex'].value_counts()

sex
female    34
male      34
Name: count, dtype: int64

<h3>Insight#8: Chinstrap has 34 male species </h3>

<h2>Q9. What year has the most species?
</h2>

In [62]:
penguins['year'].value_counts()

year
2009    120
2008    114
2007    110
Name: count, dtype: int64

<h3>Insight#9: Year 2009 has the most species </h3>

<h2>Q10. How many Gentoo data was recorded in year 2007?
</h2>

In [63]:
Gentoo_df['year'].value_counts()

year
2008    46
2009    44
2007    34
Name: count, dtype: int64

<h3>Insight#10: There are 34 records on 2007</h3>

<h2>Q11. Which year have the highest data collected in Chinstrap?<h2>

In [66]:
Chinstrap_df['year'].value_counts()

year
2007    26
2009    24
2008    18
Name: count, dtype: int64

<h3>Insight#11: On year 2007 has highest recorded data collected in Chinstrap</h3>

<h2>Q12. What is the common island penguins live?</h2>

In [68]:
penguins['island'].mode()

0    Biscoe
Name: island, dtype: object

<h3>Insight#12: Biscoe is the common island penguin lives</h3>